body {
	margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
/*button {
	border: 0;
	outline: none;
}*/
h2 {
	position: relative;
}
/*#pagination {
	padding: 0;
	margin-left: -5px;
}
#pagination li {
	border: 1px solid grey;
	margin: 0 5px;
}*/
#filter {
	position: absolute;
	top: 25px;
	left: 21%;
	width: 230px;
	z-index: 2;
}
.table th {
	text-align: center;
}
.table .table-row td {
	vertical-align: middle;
}
.btn-controls {
	display: inline-block;
}
.btn-controls:after {
	clear: both;
	content: "";
	display: table;
}
.btn-controls .btn,
.btn-controls .btn:focus {
	outline: none!important;
}
.btn-controls .btn {
	float: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-controls .btn:first-of-type {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.btn-controls .btn:last-of-type {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.form_wrapper {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s;
}
.form_wrapper.shown{
	max-height: 350px;
}
#add_row {
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 40px;
}
/*#add_row.shown {
	height: auto;
}*/
#add_row h2 {
	margin-top: 0;
}
#add_row label {
	display: block;
}
#add_row .checkbox * {
	float: left;
}
#add_row .checkbox {
	margin-top: 20px;
}
#add_row .checkbox:after {
	content: "";
	display: table;
	clear: both;
}
#add_row .checkbox input {
	margin: 0;
}
#add_row .checkbox div.btn {
	padding: 0 5px;
	margin-top: -5px;
	background-color: #ccc;
}
.table-row {
	background-color: green;
	height: 20px;
}

#table_editor {
	text-align: center;
	table-layout: fixed;
}
#table_editor thead {
	background-color: #ccc;
}
#table_editor thead td span {
	position: relative;
	cursor: pointer;
}
#table_editor thead td span em {
	position: absolute;
	right: -10px;
	top: -2px;
}
.import textarea {
	width: 100%;
	resize: none;
	height: auto;
}
