body {
	margin: 0;
    padding: 0;
    /*max-height: 100vh;
    overflow: hidden;*/
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
	border: 0;
	outline: none;
}
.choose_ships h5 {
	text-align: center;
	margin-bottom: 100px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.battlefield {
	position: relative;
}
.battlefield h1 {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.battlefield h3 {
	background-color: lightblue;
	text-align: center;
	margin-bottom: 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*#field {
	width: 400px;
}*/
/*#field:after {
	clear: both;
	content: "";
	display: table;
}*/
#field tr:first-of-type .cell:before {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -100%;
	text-align: center;
	line-height: 40px;
	width: 100%;
	height: 100%;
}
#field tr:first-of-type .cell.placed:before {
	top: -115%;
}
#field tr:first-of-type .cell:first-of-type:before {
	content: 'A';
}
#field tr:first-of-type .cell:nth-of-type(2):before {
	content: 'B';
}
#field tr:first-of-type .cell:nth-of-type(3):before {
	content: 'C';
}
#field tr:first-of-type .cell:nth-of-type(4):before {
	content: 'D';
}
#field tr:first-of-type .cell:nth-of-type(5):before {
	content: 'E';
}
#field tr:first-of-type .cell:nth-of-type(6):before {
	content: 'F';
}
#field tr:first-of-type .cell:nth-of-type(7):before {
	content: 'G';
}
#field tr:first-of-type .cell:nth-of-type(8):before {
	content: 'H';
}
#field tr:first-of-type .cell:nth-of-type(9):before {
	content: 'I';
}
#field tr:first-of-type .cell:last-of-type:before {
	content: 'G';
}


#field tr .cell:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -100%;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 100%;
}
#field tr:first-of-type .cell:first-of-type:after {
	content: '1';
}
#field tr:nth-of-type(2) .cell:first-of-type:after {
	content: '2';
}
#field tr:nth-of-type(3) .cell:first-of-type:after {
	content: '3';
}
#field tr:nth-of-type(4) .cell:first-of-type:after {
	content: '4';
}
#field tr:nth-of-type(5) .cell:first-of-type:after {
	content: '5';
}
#field tr .cell.placed:first-of-type:after {
	left: -114%;
}
#field tr:nth-of-type(6) .cell:first-of-type:after {
	content: '6';
}
#field tr:nth-of-type(7) .cell:first-of-type:after {
	content: '7';
}
#field tr:nth-of-type(8) .cell:first-of-type:after {
	content: '8';
}
#field tr:nth-of-type(9) .cell:first-of-type:after {
	content: '9';
}
#field tr:last-of-type .cell:first-of-type:after {
	content: '10';
}


#field .cell {
	width: 40px;
	height: 40px;
	/*border: 1px solid #000;*/
	float: left;
	position: relative;
	/*z-index: 10;*/
}
#field .cell.placed {
	border: 3px solid green;
	/*z-index: -1;*/
	background-color: lightgreen;
}
.ship {
	background-color: lightgreen;
	height: 40px;
	border: 3px solid green;
	float: left;
	margin-right: 30px;
	cursor: move;
}
.ship:after {
	display: table;
	content: "";
	clear: both;
}
.decked-4 {
	width: 160px;
}
.decked-3 {
	width: 120px;
}
.decked-2 {
	width: 80px;
}
.decked-1 {
	width: 40px;
}
.ship_container {
	margin-bottom: 30px;
	height: 20px;
}
.col-md-6 {
	position: static;
}