body {
	margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.title {
	text-align: center;
}
.container {
	margin: 0 auto;
	position: relative;
}
.error {
	position: absolute;
	left: 105%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	color: red;
	width: 100px;
}
.form-group {
	position: relative;
}
.form-group.title-group {
	padding-bottom: 25px;
	position: relative;
}
.form-group.title-group .error {
	left: 0;
	bottom: 0;
	top: auto;
	transform: none;
}