body {
	margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.container {
	max-width: 500px;
	margin: 0 auto;
}
span {
	display: inline-block;
	width: 40px;
}
ol {
	padding: 0;
}
.spacer {
	background-color: #000;
	margin: 30px 0;
	height: 5px;
}
form .required {
	display: block;
	position: relative;
}
form label {
	position: relative;
	display: block;
	margin: 20px 0;
}
form label span {
	position: absolute;
	color: red;
}

.products input {
	display: block;
	margin: 20px 0;
}
.info {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid green;
}
.products form {
	position: relative;
	margin-bottom: 30px;
}
.added {
	position: absolute;
	margin: 0;
	bottom: 2px;
	left: 70px;
	color: green;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
.added.shown {
	opacity: 1;
}