body {
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.container {
	max-width: 500px;
	margin: 0 auto;
}
span {
	display: inline-block;
	width: 40px;
}
ol {
	padding: 0;
}
.spacer {
	background-color: #000;
	margin: 30px 0;
	height: 5px;
}
input {
	display: block;
	margin: 5px 0;
}
.rectangle {
	background-color: red;
	float: right;
}
#form2 {
	float: left;
}