body {
	margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.title {
	text-align: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.field_wrapper {
	position: relative;
}
.field {
	margin: 0 auto;
	width: 600px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.field_item {
	height: 55px;
	text-align: center;
	line-height: 55px;
	width: 55px;
	border: 1px solid #000;
	display: inline-block;
	color: rgba(0,0,0,0);
	cursor: pointer;
	overflow: hidden;
}
span {
	display: inline-block;
	width: 40px;
}
ol {
	padding: 0;
}
.controls {
	position: absolute;
	right: 0;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.controls button {
	display: block;
	width: 170px;
	margin-bottom: 15px;
}
.spacer {
	background-color: #000;
	margin: 30px 0;
	height: 5px;
}
